<!doctype html>
<html>

<head>
    {{>header}}
    <link rel="stylesheet" href="css/contact.css">
    <title>Register</title>
</head>

<body>
    {{>navbar}}

    <h1>This is your personal page</h1>

    {{>footer}}

    <script src="js/index.js"></script>
</body>

</html>